.articel-data {
  display: flex;
  padding-right: 10px;
  .article-img {
    width: 100px;
    margin: 20px;
  }
  .article-dec {
    width: 80%;
    margin-top: 10px;
    margin-right: 5px;
    text-align: right;

    .article-title {
      margin-top: 15px;
    }
    .article-text {
      width: 90%;
      margin-top: 15px;
    }
    a {
      color: #e22b39;
      text-decoration: none;
      float: left;
      margin: -30px 0 0 40px;
    }
  }
}
