* {
  box-sizing: border-box;
}
.mySlides {
  display: block;

  img {
    vertical-align: middle;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  .prev {
    cursor: pointer;
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    right: 0;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  .next {
    cursor: pointer;
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    left: 0;
    border-radius: 3px 0 0 3px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      border: 0;
    }
  }
  .slider-text {
    display: flex;
    justify-content: space-between;
    .text {
      color: #3a3a3a;
      text-align: right;
      padding: 10px 20px 0 0;
      font-size: 17px;
    }
    a {
      color: #e22b39;
      text-decoration: none;
      padding: 12px 0 0 20px;
    }
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @media only screen and (max-width: 300px) {
    .prev {
      font-size: 11px;
    }
    .next {
      font-size: 11px;
    }
    .text {
      font-size: 11px;
    }
  }
}
